<div class="rankings">
  <% @rankings.each_with_index do |user, rank| %>
    <div class="rank">
      <span class="score-bubble">
        <%= user.best_score %>
      </span>

      <span class="user-info">
        <h3><%= user.fullname %></h3>
        <p> #<%= rank + 1 %> <%= user.email %> </p>
      </span>

      <span class="time-wasted">
        <% if user.time_wasted > 15 * 60 %>
          <p>Wasted <%= user.time_wasted %> seconds</p>
        <% else %>
          <p>Wasted <%= user.time_wasted %> seconds</p>
        <% end %>
      </span>
    </div>
  <% end %>
</div>
