<span class="score-bubble">
  <span class="score-bubble-text">{{maxScore}}</span>
  <div class="score-bubble-bg"></div>
</span>

<span class="user-info">
  <h3>{{fullName}}</h3>
  <div>
    <span class="user-detail">Rank #{{rank}}</span>
    <span class="user-detail user-backflips">
      <div {{bind-attr class="isFlipping:flipping :backflip-img"}}></div>
      {{maxBackflips}} Backflips
    </span>
  </div>
</span>

<span class="time-wasted">
  <p>Wasted {{timeSpent}} seconds</p>
</span>