<div class="rankings">
  <% @rankings.each_with_index do |user, rank| %>
    <div class="rank">
      <span class="score-bubble">
        <%= user.best_score %>
      </span>

      <span class="user-info">
        <h3><%= user.fullname %></h3>
        <p> #<%= rank + 1 %> <%= user.email %> </p>
      </span>

      <span class="time-wasted">
        <% if user.time_wasted > 15 * 60 %>
          <p>Wasted <%= user.time_wasted %> seconds</p>
        <% else %>
          <p>Wasted <%= user.time_wasted %> seconds</p>
        <% end %>
      </span>
    </div>
  <% end %>
</div>

<!--<table class="table table-striped">-->
  <!--<thead>-->
  <!--<tr>-->
    <!--<th>Rank</th>-->
    <!--<th>Score</th>-->
    <!--<th>User</th>-->
    <!--<th>Username</th>-->
    <!--<th>Time Ago</th>-->
    <!--<th>Total Time Wasted</th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--<% @rankings.each_with_index do |user, rank| %>-->
    <!--<tr>-->
      <!--<td><%= rank %></td>-->
      <!--<td><%= user.best_game.score %></td>-->
      <!--<td><%= user.fullname %></td>-->
      <!--<td><%= user.username %></td>-->
      <!--<td><%= time_ago_in_words(user.best_game.created_at) %></td>-->
      <!--<td></td>-->
    <!--</tr>-->
  <!--<% end %>-->
  <!--</tbody>-->
<!--</table>-->
