<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @game.user %>
</p>

<p>
  <strong>Score:</strong>
  <%= @game.score %>
</p>

<p>
  <strong>Time played:</strong>
  <%= @game.time_played %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
